.pink-background {
  background-color: #f1ccca;
  margin: 0px;
}

/* TODO: Responsiveness */

.intro-container {
  width: 90%;
  margin: auto;
  padding-top: 200px;
  min-height: 50vh;
}

.intro-heading {
  font-size: 100px;
  /* margin-top: 110px; */
  margin-bottom: 55px;
  font-family: "Rhoza One", serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.name {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: "Roboto Mono", serif;
  font-weight: 500;
  color: white;
}

.intro-p {
  max-width: 700px;
  margin: 0px auto;
  font-size: 23px;
  font-family: "Questrial", serif;
  line-height: 130%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .intro-container {
    min-height: 100vh;
  }

  .intro-heading {
    font-size: 46px;
  }

  .intro-p {
    font-size: 18px;
  }

  .name {
    font-size: 16px;
  }
  /* #intro {
    min-height: unset;
    padding-left: unset;
    padding-top: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
  }
  .intro-name {
    font-size: 46px;
  }

  .Typist {
    font-size: 36px;
  }

  .intro-subtitle {
    margin: 0;
    font-size: 28px;
  }

  .intro-desc {
    font-size: 18px;
    max-width: unset;
    padding-bottom: 40px;
  }

  .intro-contact {
    font-size: 16px;
  } */
}
