@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.intro-container {
  background-color: #fdf8e2;
  margin: 0px;
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45vh;
  min-height: 800px;
}

/* TODO: Responsiveness */

.heading-container {
  /* width: 90%; */
  /* flex: 1; */
  width: 40%;
  margin: auto;
  /* padding-top: 100px; */
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
}

.intro-image {
  width: 40%;
  text-align: center;
}

.intro-heading {
  font-size: 110px;
  /* margin-bottom: 55px; */
  letter-spacing: 5px;
  text-align: center;
  color: #a3b565;
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
}

.name {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: "Roboto Mono", serif;
  font-weight: 500;
  color: #f1642e;
}

.intro-p {
  max-width: 700px;
  margin: 0px auto;
  font-size: 26px;
  font-family: "Questrial", serif;
  line-height: 130%;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .intro-container {
    min-height: 100vh;
  }

  .intro-heading {
    font-size: 46px;
  }

  .intro-p {
    font-size: 18px;
  }

  .name {
    font-size: 16px;
  }
  /* #intro {
    min-height: unset;
    padding-left: unset;
    padding-top: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
  }
  .intro-name {
    font-size: 46px;
  }

  .Typist {
    font-size: 36px;
  }

  .intro-subtitle {
    margin: 0;
    font-size: 28px;
  }

  .intro-desc {
    font-size: 18px;
    max-width: unset;
    padding-bottom: 40px;
  }

  .intro-contact {
    font-size: 16px;
  } */
}
