@import url("https://fonts.googleapis.com/css2?family=Vidaloka&family=Voltaire&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* TODO: Figure out how to access images in public folder. */
.services {
  background-image: url("../public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("../public/images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("../public/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .about {
  background-image: url("../public/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.about {
  background-color: #f1ccca;
}

.about-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

.resume {
  background-color: #4a6541;
  color: #f3a73c;
  letter-spacing: 10%;
  font-family: "Voltaire", sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
  border: none;
  height: 130%;
  width: 20%;
}

.linkedin {
  background-color: #f3a73c;
  font-family: "Voltaire", sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  width: 100%;
  border: none;
  height: 45px;
}

button {
  padding: 8px 20px;
  border-radius: 30px;
}

.skill {
  background-color: #000;
  border-radius: 30px;
  color: #f3943c;
  width: fit-content;
}

.hobby {
  border-radius: 30px;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Vidaloka", serif;
  font-size: 20px;
}

.orange {
  background-color: #f3943c;
}

.green {
  background-color: #4a6541;
}

.pink {
  background-color: #cf80a3;
}

.light-green {
  background-color: #a7ce95;
}

.yellow {
  background-color: #f8e283;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3; 
  grid-column-end: 5; 
  */
  grid-area: 1 / 1 / 3 / 7;
}

.introduction-container {
  padding-left: 188px;
  padding-right: 188px;
  padding-top: 30px;
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.introduction-container h1 {
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 84px;
  letter-spacing: 7px;
  line-height: 130%;
}

.introduction-container p {
  font-family: "Voltaire", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  line-height: 135%;
}

/* @media (min-width: 640px) {
  .introduction-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
} */

@media (min-width: 1025px) {
  .introduction-container {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(12, 1fr);
  }
}

.contact-container .green-triangle {
  /* background-color: #4a6541; */
  /* width: 20%;
  height: 300px; */
  /* transform: rotate(350deg); */
  border-bottom: 100px solid #4a6541;
  border-left: 500px solid transparent;
}

.contact-container .green-rectangle {
  background-color: #4a6541;
  height: 100px;
  width: 500px;
}

.contact-container {
  /* position: absolute;
  right: 0;
  top: 100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem; */
}

.contact-container .contact {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Vidaloka", serif;
  padding: 10px;
}

.contact-container h2 {
  font-family: "Vidaloka", serif;
  line-height: 150%;
  letter-spacing: 5px;
}

.contact-container h3 {
  font-family: "Vidaloka", serif;
  letter-spacing: 2px;
  line-height: 160%;
}

.fa-location-dot {
  padding-right: 10px;
}

.education-skills-container {
  background-color: #4a6541;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 30px 80px;
}

.education-container {
  /* 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3; 
  grid-column-end: 5; 
  */
  grid-area: 1 / 1 / 1 / 8;
}

.education {
  color: #f3943c;
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 10px;
}

.skills-container h1 {
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 10px;
}

.education-container .years {
  color: #fff;
  font-family: "Vidaloka", serif;
  font-size: 32px;
  letter-spacing: 3px;
  line-height: 130%;
}

.year-container {
  /* grid-area: 1 / 1 / 3 / 3; */
  display: inline-block;
  padding-right: 40px;
  vertical-align: top;
}

.university-degree-container {
  /* grid-area: 1 / 3 / 3 / 7; */
  display: inline-block;
}

.education-container .university {
  color: #fff;
  font-family: "Vidaloka", serif;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 130%;
  padding-bottom: 5px;
}

.education-container .degree {
  color: #fff;
  font-family: "Vidaloka", serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.skills-container {
  grid-area: 1 / 8 / 2 / 14;
}

.skills {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* padding: 30px 100px; */
}

.skill {
  text-align: center;
  width: 100%;
  line-height: 200%;
  font-size: 24px;
  font-family: "Vidaloka", serif;
}

.experience-container {
  background-color: #f3a73c;
  padding: 25px 60px 10px 60px;
  position: absolute;
  width: 700px;
  left: 610px;
  top: 970px;
}

.experience-container h1 {
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 10px;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.experiences .role {
  font-family: "Vidaloka", serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 130%;
  padding-bottom: 5px;
}

.experiences .company i {
  font-family: "Vidaloka", serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 130%;
}

.experiences .years {
  font-family: "Vidaloka", serif;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 130%;
  grid-area: 1 / 1 / 1 / 3;
}

.experience {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 15px;
  /* gap: 20px; */
}

.company-role-container {
  text-align: right;
  grid-area: 1 / 2 / 1 / 7;
}

.research-container {
  grid-area: 2 / 8 / 2 / 14;
  padding-top: 5px;
  padding-bottom: 30px;
}

.research-container h1 {
  color: #cf80a3;
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 10px;
}

.research-paper {
  background-color: #f1ccca;
  color: #000;
  border-radius: 30px;
  padding: 25px;
  font-family: "Vidaloka", serif;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 220px;
  padding-right: 220px;
  padding-top: 150px;
  display: grid;
  gap: 15px;
}

.undergrad-container {
  grid-area: 1 / 1 / 1 / 9;
}

.undergrad-container h1 {
  text-align: left;
  font-family: "Vidaloka", serif;
  font-size: 42px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 18px;
  color: #000;
  text-decoration: underline;
}

.fa-star {
  color: #f3943c;
  padding-right: 15px;
}

.activity-name {
  font-family: "Vidaloka", serif;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 130%;
  padding-bottom: 10px;
}

.activity-bullet {
  font-family: "Vidaloka", serif;
  font-size: 20px;
  line-height: 130%;
  padding-bottom: 10px;
  padding-left: 50px;
}

.fa-circle {
  color: #4a6541;
  padding-right: 15px;
}

.hobbies-container {
  grid-area: 1 / 9 / 1 / 12;
  text-align: center;
}

.hobbies-container h1 {
  font-family: "Vidaloka", serif;
  font-size: 42px;
  letter-spacing: 3px;
  line-height: 130%;
  padding-bottom: 18px;
  text-decoration: underline;
}

.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hobbies-container .row-1 {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.hobbies-container .row-3 {
  display: flex;
  direction: row;
  justify-content: space-evenly;
}

.hobbies-container .row-2 {
  padding-bottom: 10px;
}

.hobbies-container .row-2 .hobby {
  margin-left: auto;
  margin-right: auto;
}

.resume-container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
